<main class="min-h-screen bg-zinc-100 text-zinc-900">
  <header class="border-b bg-white px-8 py-4">
    <div class="flex items-center justify-between">
      <a href={~p"/"} class="text-xl font-bold">
        Shogi
      </a>

      <span class="text-sm text-zinc-500">
        MVP
      </span>
    </div>
  </header>

  <section class="p-8">
    <%= @inner_content %>
  </section>
</main>
